*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  box-sizing: border-box;
  font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  text-rendering: optimizelegixbility;
}

body {
  margin: 1.75rem 0;
  padding: 0;
  line-height: 1.75;
  background-color: #ffffff;
  color: #000000;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: #000000;
}

h1, p {
  max-width: 40rem;
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
}

section + section {
  margin-top: 7rem;
}

.asset {
  position: relative;
}

.asset img {
  background: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.layout, .layout .photo {
  padding: 0.25rem;
}

.layout .photos {
  max-width: 40rem;
  margin: 0 auto;
}

@media screen and (min-width: 40rem) {
  @supports (display: flex) {
    .layout .photos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-width: 80rem;
    }

    .layout .photos.left {
      justify-content: flex-start;
    }

    .layout .photos.right {
      justify-content: flex-end;
    }

    .layout .photos.space-between {
      justify-content: space-between;
    }

    .layout .photos.space-around {
      justify-content: space-around;
    }

    .layout .photos.top {
      align-items: flex-start;
    }

    .layout .photos.bottom {
      align-items: flex-end;
    }

    .layout .photo.top {
      align-self: flex-start;
    }

    .layout .photo.center {
      align-self: center;
    }

    .layout .photo.bottom {
      align-self: flex-end;
    }

    .layout .photo.width-1 {
      width: 8.333%;
    }

    .layout .photo.width-2 {
      width: 16.666%;
    }

    .layout .photo.width-3 {
      width: 25%;
    }

    .layout .photo.width-4 {
      width: 33.333%;
    }

    .layout .photo.width-5 {
      width: 41.666%;
    }

    .layout .photo.width-6 {
      width: 50%;
    }

    .layout .photo.width-7 {
      width: 58.333%;
    }

    .layout .photo.width-8 {
      width: 66.666%;
    }

    .layout .photo.width-9 {
      width: 75%;
    }

    .layout .photo.width-10 {
      width: 83.333%;
    }

    .layout .photo.width-11 {
      width: 91.666%;
    }

    .layout .photo.width-12 {
      width: 100%;
    }
  }
}
